#overbox3 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999;
    display: block;
}
#infobox3 {
    margin: auto;
    position: relative;
    top: 0px;
    height: 180px;
    width: 100%;
    text-align:center;
    background-color: #141414;
}

.text-polity{
    text-align: justify;
    color: #fff;
    font-size:14px;
    margin-left: 35px;
    margin-top: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .cookie-setting-link{
    color: #fff;
    border-color: #141414;
    background-color: #141414;
    margin-left: -50px;
  }

  .reject-all{
    background-color: #000;
    border-color: #000;
    color: #FFFFFF;
  }

  .accept{
    background-color: #000;
    border-color: #000;
    color: #FFFFFF;
  }

  .logo-cookies{
      width: 100px;
  }
  
  .modal-body{
      color:#FFFFFF;
  }
  .text-gets{
      font-size: 16px;
      font-weight: 500;
  }

  .mobile-copyright{
    display: none;
    }
/*Pantallas grandes (desktops de menos de 1200px)*/
@media (max-width: 1199.98px) {
  .wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .text-polity{
    text-align: center;
    font-size: 12px;
    margin-right: 34px;
  }
 }

/*Pantallas medianas (tablets de menos de 992px)*/
@media (max-width: 991.98px) { 
  .wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .text-polity{
    text-align: center;
    font-size: 9px;
    margin-right: 34px;
  }
  .desktop-copyright {
    display: none;
    }
  .mobile-copyright {
     display: block;
  }
 }

  /*Pantallas pequeñas (móviles en landscape de menos de 768px)*/
@media (max-width: 767.98px) { 
  .wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .text-polity{
    text-align: center;
    font-size: 6px;
    margin-right: 34px;
  }
  .button-cookies{
    margin-top:5px !important;
    margin-left: 45px !important;
  }
  .desktop-copyright {
    display: none;
    }
  .mobile-copyright {
     display: block;
  }  
}

/*Pantallas muy pequeñas (móviles en portrait de menos de 576px)*/
@media (max-width: 575.98px) { 
  .wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }
  .text-polity{
    text-align: center;
    font-size: 7px;
    margin-right: 34px;
  }
  .button-cookies{
    margin-top:5px !important;
    margin-left: 45px !important;
  }
  .accept{
    margin: 5px;
    margin-right: 54px;
  }
  .desktop-copyright {
    display: none;
    }
  .mobile-copyright {
     display: block;
  }
}
